@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media query manager

// 0 - 600    :phone
// 600 900px   tablet potrait
// 900 - 1200px  tablt landscape
// 1200 - 1800px  normal style desktop
// above 1800px big desktop

/*
$breakpoint argument choices:
-phone 600px
-tab-port 900px
-tab-land 1200px
-big-desktop 1800px
*/
//1m ==16px

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 62.5em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (mix-width: 112.5em) {
      @content;
    }
  }
}
