$color-grey-light: #868e96;
$color-grey-medium: #495057;
$color-grey-dark: #343a40;

$color-background: #2d3239;
$gunmetal: #2d3239;

$black-light: #1c1f22;
$black-mediumdark: #121416;
$black-dark: #090a0b;

$color-white-honeydew-1: #ebfff8; //honeydew
$color-white-ivory-2: #e7ebef; //ivory
$color-white-lavender-3: #f3e2e6;

$color-primary: #a21caf;
$color-primary-light: #c777cf;
$color-primary-lightest: #daa4df;
$color-primary-dark: #611169;
$color-primary-darkest: #410b46;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #1998ff;
$color-tertiary-dark: #5643fa;

//GRID

$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONTSIZES

$default-font-size: 1.6rem;
$heading-tertiary-font-size: 2rem;

//shadows

// $black-shadow-normal: 0 1rem 2rem rgba($color-black, 0.4);

// $black-shadow-small: 0 1rem 3rem rgba($color-black, 0.1);

// $black-shadow-medium: 0 2rem 4rem rgba($color-black, 0.2);
